@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");

html,
body,
#root,
.App {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  // background-color: lightblue;
}

.App {
  font-family: "Montserrat", sans-serif;
  text-align: center;
  display: flex;

  svg {
    height: 100%;
  }
}

.spacer {
  height: 100%;
}

.bubble-wrap {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.colors-wrap {
  height: 100%;
  width: 300px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);

  ul {
    list-style: none;
    text-align: start;

    li {
      cursor: pointer;
      padding: 6px 0;
      display: flex;
      justify-content: space-between;
      width: 100%;
    }
  }
}

.delete {
  color: rgb(216, 87, 87);
}

.color-box {
  height: 16px;
  width: 16px;
  border: 1px lightgray solid;
  margin-right: 36px;
}

form {
  margin-top: 60px;
  display: flex;
  flex-direction: column;

  legend {
    padding-left: 40px;
    font-weight: bold;
    text-align: left;
    text-decoration: underline;
    margin-bottom: 16px;
  }

  label {
    display: flex;
    justify-content: space-between;
    padding: 4px 36px 4px 40px;
  }

  input {
    width: 100px;
  }
}

.button-row {
  display: flex;
  justify-content: space-between;
  padding: 0 36px 0 41px;

  button {
    border: none;
    background-color: black;
    color: white;
    padding: 3px 8px;
    margin-top: 16px;
  }
}

// Extra styling

.container {
  
    // height: 900px;
    width: 100%;
    position: relative;
    border-left: 4px solid black;
    background-color: lightblue;
    
  
}

.bubbles-header {
  font-family: "Bookman";
  color: white;
  background-color: lightblue;
  padding-top: 1%;
  padding-bottom: 1%;
  
}

.log-in-form {

  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 50%;
  margin-left: 17%;


z-index: 100;
position: absolute;
color: white;
font-size: 3rem;
font-weight: bold;
left: 10%;
top: 2%;



}

.log-in-header {
  font-family: "Bookman";

  font-size: 2rem;
color: black;
}

.flex-login {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  // border: 1px solid black;

}

.bubbles-image {
  position: relative;
  left: 0;
  top: 0;
  width: 100%;

}

.input {

  width: 100%;
  background-color: lightblue;
  color: black;

}

.add-input {
  padding-top: 4%;
  padding-bottom: 4%;
  margin-top: 4%;
  margin-bottom: 4%;
}


.add-color-form {
  display: flex;
  flex-direction: column;
background-color: white;
  border: 1px solid black;
  width: 100%;
  
}

.add-color-container {
  border: 1px solid black;
  background-color: lightblue;
  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  margin-left: 100%;
  padding-bottom: 5%;
  margin-bottom: 20%;

  box-shadow: 4px 4px black;
}

.add-button {
  padding-top: 3%;
  margin-top: 3%;
  padding-bottom: 5%;
  
}

